* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color : transparent;
    color: white;
    padding-top: 80px;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.grid {
    display : flex;
    flex-wrap : wrap;
    margin-left : auto;
    margin-right : auto;
    margin-top : 20px;
    height : 100vh;
    border-radius : 10px;
   background-color: #050505;
    position : fixed;
    width : 100vw;
    border : 2px solid rgb(38, 147, 249);
    top : 0;
    left : 0;
    margin : 0;
    z-index:0;
}

.grid .grids {
    width : 90px;
    height : 60px;
    border : 0.5px solid rgb(38, 147, 249);
    border-radius : 5px;
    background-color : rgb(0, 0, 0);
    box-shadow: 0 0 10px rgb(38, 147, 249);
    transition : 0.3s ease;
    position : relative;
    transition : 0.2s ease;
}
.grids:hover {
    background-color : rgb(38, 147, 249);
    box-shadow: 0 0 10px rgb(38, 147, 249);
    transform: scale(1.1);
}
.nav {
    display : flex;
    justify-content: space-between;
    align-items: center;
    height : 60px;
    width : 100%;
    position : fixed;
    top : 0;
    left : 0;
    background-color : rgb(24, 28, 22);
    border : 2px solid white;
    z-index : 100000;
    border-radius : 10px;
}

.nav h1 span {
    color : rgb(95, 175, 255);
    font-size : 1.8rem;
    font-weight : bold;
    -webkit-text-stroke: 1px rgb(95, 175, 255);
    text-shadow: 0 0 10px rgba(95, 175, 255, 0.7);  
}
.nav .items {
    display : flex;
    gap : 20px;
    margin-right : 20px;
}

.items a:hover span {
    color : rgb(255, 214, 214);
    transition : 0.3s ease;
}

.nav .items a {
    text-decoration: none;
    color : white;
    font-size : 1.1rem;
    padding : 10px;
}

.info {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 96%;
    height : 20vh;
    padding: 10px;
    display : flex;
    flex-direction: column;
    border-radius: 10px;
    position : relative;
    pointer-events: none;
}  

.info .img {
    pointer-events: auto;
}
.image {
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    gap : 10px;
}

.image img {
    width: 180px;
    max-height: 180px;
    border-radius: 50%;
}

.image .imgname {
    font-size : 1.5rem;
    font-weight : bold;
}

.user {
    display : flex;
    flex-direction : flex-start;
    flex-direction : column;
    gap : 10px;
    margin-top : 20px;
    margin-left : 15%;
    z-index: 1000;
}

.user h1 {
    z-index: 1000;
}

.username {
    background-color: rgb(96, 60, 60);
    border: 2px solid rgb(249, 87, 38);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    font-size : 1.2rem;
    font-weight : bold;
    color : white;
    width : fit-content;
    box-shadow: 0 0 10px rgb(255, 117, 83);
    z-index: 1000;
}

.name {
    background-color: rgb(96, 60, 60);
    border: 2px solid rgb(249, 87, 38);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    font-size : 1.2rem;
    font-weight : bold;
    color : white;
    width : fit-content;
    box-shadow: 0 0 10px rgb(249, 87, 38);
    z-index: 1000;
}

.names {
    display : flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-left : 0;
    z-index: 1000;
}
.names .name {
    margin-left : 10%;
}

.email {
    background-color: rgb(96, 60, 60);
    border: 2px solid rgb(249, 87, 38);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    font-size : 1.2rem;
    font-weight : bold;
    color : white;
    width : fit-content;
    box-shadow: 0 0 10px rgb(249, 87, 38);
    z-index: 1000;
}

.address {
    background-color: rgb(96, 60, 60);
    border: 2px solid rgb(249, 87, 38);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    font-size : 1.2rem;
    font-weight : bold;
    color : white;
    width : fit-content;
    box-shadow: 0 0 10px rgb(249, 87, 38);
    z-index: 1000;
}

.phone {
    background-color: rgb(96, 60, 60);
    border: 2px solid rgb(249, 87, 38);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    font-size : 1.2rem;
    font-weight : bold;
    color : white;
    width : fit-content;
    box-shadow: 0 0 10px rgb(249, 87, 38);
    z-index: 1000;  
}