 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     overflow-x: hidden;
     background-color: rgb(33, 28, 28);
 }

 .heading {
     color: white;
     background-color: rgb(1, 0, 0);
     border: 2px solid rgb(255, 255, 255);
     width: 100%;
     border-radius: 5px;
     height: 40px;
     display: flex;
     padding-top: 3px;
     font-size: 1.1rem;
     z-index: 10000000;
     position: fixed;
     top: 2px;
     left: 0;
 }

 .three i {
     position: fixed;
     left: 5px;
     cursor: pointer;
     padding-left: 5px;
     padding-top: 3px;
     font-size: 1.3rem;
 }

 .heading .e {
     position: absolute;
     left: 40vw;
     padding-top: 3px;
 }

 .cross i {
     position: fixed;
     left: 60vw;
     padding-top: 3px;
     font-size: 1.3rem;
     display: none;
     z-index: 100000;
 }


 .mnav {
     display: flex;
     flex-direction: column;
     height: 100vh;
     width: 60vw;
     gap: 20px;
     position: fixed;
     top: 0;
     left: -60vw;
     background-color: black;
     border-radius: 5px;
     border: 2px solid white;
     box-shadow: 2px 2px 10px white;
     transition: 0.3s ease-in-out;
     z-index: 9999999999;
 }

 .mnav.active {
     left: 0;
 }

 .mnav h1 {
     color: white;
     padding-left: 20px;
     padding-top: 10px;
     border-bottom: 5px solid white;
     padding: 10px;
 }

 .b {
     position: absolute;
     left: 0;
     top: 5px;
     width: 100%;
     z-index: 999999;
 }

 .mnav .b {
     display: flex;
     gap: 20px;
     flex-direction: column;
 }

 .b .hm {
     display: flex;
     flex-direction: column;
     gap: 20px;
     padding-top: 20px;
     z-index: 10000;
 }

 .hm a {
     border-bottom: 2px solid white;
     text-decoration: none;
     color: white;
     font-size: 1.1rem;
     padding: 10px;
     padding-left: 10px;
 }

 .hm a:hover {
     transition: 0.3s ease-in-out;
     background-color: rgb(74, 4, 4);
 }

 .video {
     margin-left: auto;
     margin-right: auto;
     margin-top: 60px;
     display: flex;
     justify-content: center;
     align-items: center;
     height: auto;
     width: 100%;
 }

 .video video {
     width: 96%;
     max-height: 70vh;
     border: 2px solid red;
     border-radius: 10px;
     box-shadow: 0 0 10px white;
 }

 .name {
     color: white;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
     width: 96%;
     padding: 10px;
     border: 2px solid rgb(255, 0, 0);
     border-radius: 10px;
     background-color: black;
     box-shadow: 0 0 20px rgb(139, 50, 50);
 }

 .name h2 {
     font-family: 'poppins', sans-serif;
     font-size: 2rem;
 }

 .name p {
     font-family: 'poppins', sans-serif;
     font-size: 1.2rem;
     margin-top: 10px;
 }

 .similarVideos>h2 {
     color: white;
     margin-left: 10px;
     margin-right: auto;
     margin-top: 20px;
     width: 96%;
     padding: 10px;
     border: 2px solid rgb(255, 0, 0);
     border-radius: 10px;
     background-color: black;
     box-shadow: 0 0 20px rgb(139, 50, 50);
 }

 .moviesList {
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     gap: 20px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
     width: 96%;
     height: auto;
     padding: 10px;
     border: 2px solid black;
     border-radius: 10px;
     background-color: rgb(0, 0, 0);
     justify-content: space-evenly;
 }

 .moviesList a > div {
     border: 2px solid black;
     margin-left: auto;
     margin-right: auto;
     border-radius: 10px;
     overflow: hidden;
     cursor: pointer;
     transition: 0.3s ease-in-out;
     height: 200px;
     max-width: 180px;
     min-width: 150px;
     position: relative;
        box-shadow: 0 0 10px black transparent;
        transition: 0.3s ease-in-out;
 }

 .moviesList a > div img {
     height: 100%;
     width: 100%;
     object-fit: fill;
 }

 .moviesList div:hover {
     transform: scale(1.05);
     box-shadow: 2px 2px 10px black;
 }

 .moviesList .name {
     font-family: 'poppins', sans-serif;
     font-size: 1rem;
     color: white;
     background-color: black;
     bottom: 0;
     height: 40px;
     width: 100%;
     position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: black transparent;
    opacity : 0;
    transition : 0.3s ease-in-out;
 }
 .moviesList div:hover .name {
    opacity : 1;
 }